<!doctype html>
<html>
<head>
    <title>Image Viewer {{ session['path'] }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div id="main">
    <div id="left">
        <div id="path"></div>
        <div id="shortcuts">
            <div id="sorting-shortcuts">
                n: name<br>
                m: mtime<br>
                r: reverse<br>
                h: toggle hidden<br>
            </div>
            f: full screen
        </div>
        <div id="favs-folders">
            <div id="favs">
                {% for fav in favs %}
                    <div><a href="#{{ fav.path }}" title="{{ fav.name }}"
                            data-folder="{{ fav.path }}">{{ fav.name }}</a></div>
                {% endfor %}
            </div>
            <div id="folders"></div>
        </div>
        <div id="files"></div>
    </div>
    <div id="right">
        <div id="image"></div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
